* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  height: 100vh;
  background-color: #cccccc50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #3c53c7;
}.categories {
  width: 100%;
  display: flex;
}

.categories button {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: #ffffff;
  border: none;
  border-bottom: 2px solid #506eec;
  font-size: 3vw;
  color: #474747;
  cursor: pointer;
  gap: 1vw;
  transition: background 0.3s, box-shadow 0.3s, border 0.3s;
}

.categories button.active {
  background: #506eec;
  color: white;
  border-bottom: 2px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categories button:hover {
  background: #506eec;
  color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-color: #ffffff;
}

.categories button:active {
  background: #ffffff;
  color: #506eec;
}

.categories button span {
  color: #506eec;
}
.categories button.active span {
  color: #ffffff;
}

.categories button:hover span {
  color: #ffffff;
}

.categories button:active span {
  color: #506eec;
}
.dateInput {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  column-gap: 10%;
  flex-wrap: wrap;
  height: 20vw;
}
.date {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.task-td {
  word-break: keep-all;
  font-size: 10vw;
  color: white;
  font-weight: 600;
}
.date-update {
  font-size: 4vw;
  padding: 5px 0px 0px 10px;
  color: rgb(209, 209, 209);
}

.inputBtn {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  color: white;
  background: #506eec;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
}

.inputBtn:hover {
  background: white;
  color: #506eec;
}

.inputBtn:active {
  background: #506eec;
  color: white;
}
.pop {
  display: none;
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #506eec;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3vw 5vw;
  border-radius: 5px;
  font-size: 5vw;

  text-align: center;
  z-index: 1000;
  transition: top 0.5s ease-in
}

.pop.show {
  top: 6vh;
}
.warning-popup {
  display: none;
  position: fixed;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  background-color:  #506eec;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3vw 5vw;
  border-radius: 5px;
  font-size: 5vw;
  text-align: center;
  z-index: 1000;
  transition: top 0.5s ease-in-out;
}

.warning-popup.show {
  top: 6vh;
}
