@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 0px;
  }
  .header {
    width: 100%;
    margin: 0px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0);
    background-color: #33333300;
  }
  .inputText {
    width: 90%;
  }
  form {
    width: 100%;
  }
  .butCont {
    margin-top: 10px;
  }
  #Tasks {
    width: auto;
    padding: 20px 50px 20px 50px;
  }
  .container {
    width: 100%;
  }

  button {
    font-size: 20px;
    padding: 16px 24px;
  }
}
